.markdown-preview{
	// max-width: 850px;
	margin: 0 auto;
	font-family: "Helvetica Neue",Helvetica,Arial,freesans,sans-serif;
	h1, h2, h3, h4, h5, h6{
		line-height: 1.8;
		// font-weight: 700;
		margin-top: 10px;
	}
	h1, h2, h3{
		color: #35b378;
	}
	h1{
		text-align: center;
		font-size: 30px;
		margin: 0;
	}
	a{
		text-decoration: none;
		color: #08c;
		padding-right: 2em;
	}
	.code-wrap{
		white-space: pre;
		line-height: 20px;
		font-family: Consolas;
		font-size: 14px;
		background: #f8f8f8;
		padding: 0 10px 10px 10px;
		margin-top: 6px;
		margin-bottom: 14px;
		overflow-x: auto;
		position: relative;
		&::-webkit-scrollbar{
			height: 4px;
		}
		&::-webkit-scrollbar-thumb{
			background: rgba(0,0,0,.2);
		}
		span.copy{
			position: absolute;
			top: 2px; right: 4px;
			color: white;
			background: rgba(64, 160, 255, .4);
			padding: 0 4px;
			border-radius: 4px;
			cursor: pointer;
		}
	}
	.code-wrap em{
		color: #999;
	}
	.code-wrap, .notes{
		padding-left: 10px;
	}
	li{
		margin: 10px 20px;
	}
	li.list2{
		margin-left: 40px;
		list-style: circle;
	}
	li.list3{
		margin-left: 60px;
		list-style: square;
	}
	li.order{
		list-style: none;
	}
	li.order2{
		margin-left: 40px;
	}
	li.order3{
		margin-left: 60px;
	}
	blockquote{
		margin: 0 0 4px 10px;
		line-height: 22px;
		padding-right: 15px;
		border-left: 4px solid #ccc;
		white-space: normal;
		color: #7a7a7a;
	}
	hr{
		border: none;
		border-bottom: 1px solid #ccc;
	}
	.img-block > img{
		position: relative;
		max-width: 100%;
		left: 50%;
		transform: translateX(-50%);
	}
}